<a href="https://colab.research.google.com/github/milicaci/obuznie/blob/master/DZ_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Вернемся к набору данных о видеоиграх.Ответьте на следующие вопросы.

In [3]:
import pandas as pd
from scipy import stats as st

In [ ]:
igra = pd.read_csv('vgsales.csv')
igra

                                Name Platform  ...  Developer Rating
0                         Wii Sports      Wii  ...   Nintendo      E
1                  Super Mario Bros.      NES  ...        NaN    NaN
2                     Mario Kart Wii      Wii  ...   Nintendo      E
3                  Wii Sports Resort      Wii  ...   Nintendo      E
4           Pokemon Red/Pokemon Blue       GB  ...        NaN    NaN
...                              ...      ...  ...        ...    ...
16714  Samurai Warriors: Sanada Maru      PS3  ...        NaN    NaN
16715               LMA Manager 2007     X360  ...        NaN    NaN
16716        Haitaka no Psychedelica      PSV  ...        NaN    NaN
16717               Spirits & Spells      GBA  ...        NaN    NaN
16718            Winning Post 8 2016      PSV  ...        NaN    NaN

[16719 rows x 16 columns]

1. Как критики относятся к спортивным играм?

In [ ]:
sports_otnoch = igra[(igra['Genre'] == 'Sports')&(igra['Critic_Score'].notnull() == True)][['Critic_Score']]
sports_otnoch.describe()

       Critic_Score
count   1194.000000
mean      71.968174
std       13.878433
min       19.000000
25%       64.000000
50%       75.000000
75%       82.000000
max       98.000000

H0: критики высоко оценивают спортивные игры, ставя оценки больше 80
H1: средняя оценка критиков меньше 80

Сравниваем значение по выборке с константой, поэтому нужен одновыборочный критерий.

In [ ]:
alpha = 0.05
itog_1 = st.ttest_1samp(sports_otnoch, 80)
print(itog_1)

if (itog_1.statistic < 0) & (itog_1.pvalue / 2 < alpha):
    print('Отвергаем нулевую гипотезу, среднее меньше 80')
else:
    print('Не отвергаем нулевую нулевую гипотезу, критики действительно ставят высокие оценки')

Ttest_1sampResult(statistic=array([-19.99751475]), pvalue=array([5.92993223e-77]))
Отвергаем нулевую гипотезу, среднее меньше 80

Вывод: Отвергаем нулевую гипотезу, результаты теста статистически значимы и средние оценики критиков оказались ниже 80

2. Критикам нравятся больше игры на PC или на PS4?

In [ ]:
pc_ili_ps4 = igra[(igra['Platform'].isin(['PC', 'PS4']))&(igra['Critic_Score'].notnull() == True)][['Platform','Critic_Score']]
pc_ili_ps4

      Platform  Critic_Score
42         PS4          97.0
77         PS4          82.0
85          PC          86.0
92         PS4          83.0
94         PS4          85.0
...        ...           ...
16644       PC          51.0
16696       PC          80.0
16700       PC          61.0
16706       PC          60.0
16709       PC          63.0

[967 rows x 2 columns]

H0: Критики одинаково относятся к играм на pc и ps4
H1: У критиков есть предпочтения

In [ ]:
itog_2 = st.ttest_ind(pc_ili_ps4[pc_ili_ps4['Platform'] == 'PC']['Critic_Score'], pc_ili_ps4[pc_ili_ps4['Platform'] == 'PS4']['Critic_Score'], equal_var = False)
print(itog_2)

if (itog_2.pvalue < alpha):
    
    if(itog_2.statistic < 0):
        print('Отвергаем нулевую гипотезу, критики предпочитают PS4')
        
    elif(itog_2.statistic > 0):
        print('Отвергаем нулевую гипотезу, критики предпочитают PC')
else:
    print('Не отвергаем нулевую гипотезу, критики однаково относятся к играм на PS и PC')

Ttest_indResult(statistic=4.3087588262138725, pvalue=2.067249157283479e-05)
Отвергаем нулевую гипотезу, критики предпочитают PC

3. Критикам больше нравятся стрелялки или стратегии?

In [ ]:
strel_strateg = igra[(igra['Genre'].isin(['Shooter', 'Strategy']))&(igra['Critic_Score'].notnull() == True)][['Genre','Critic_Score']]
strel_strateg

          Genre  Critic_Score
29      Shooter          88.0
32      Shooter          87.0
34      Shooter          83.0
35      Shooter          83.0
36      Shooter          94.0
...         ...           ...
16573  Strategy          69.0
16581   Shooter          40.0
16644  Strategy          51.0
16700   Shooter          61.0
16706  Strategy          60.0

[1246 rows x 2 columns]

*   H0: Критики одинаково относятся стрелялкам и стратегиям
*   H1: У критиков есть предпочтения

In [ ]:
itog_3 = (st.ttest_ind(strel_strateg[strel_strateg['Genre'] == 'Shooter']['Critic_Score'], 
                       strel_strateg[strel_strateg['Genre'] == 'Strategy']['Critic_Score'], 
                       equal_var = False))
print(itog_3)

if (itog_3.pvalue < alpha):
    
    if(itog_3.statistic < 0):
        print('Отвергаем нулевую гипотезу, критики предпочитают Strategy')
        
    elif(itog_3.statistic > 0):
        print('Отвергаем нулевую гипотезу, критики предпочитают Shooter')
else:
    print('Не отвергаем нулевую гипотезу, критики однаково относятся к стрелялкам и стратегиям')
    print('Не отвергаем нулевую гипотезу, критики однаково относятся к играм на PS и PC')

Ttest_indResult(statistic=-2.2972408230640315, pvalue=0.021938989522304823)
Отвергаем нулевую гипотезу, критики предпочитают Strategy

# 2. Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные здесь) по признаку спама.

In [7]:
!pip install stop-words

Collecting stop-words
  Downloading https://files.pythonhosted.org/packages/1c/cb/d58290804b7a4c5daa42abbbe2a93c477ae53e45541b1825e86f0dfaaf63/stop-words-2018.7.23.tar.gz
Building wheels for collected packages: stop-words
  Building wheel for stop-words (setup.py) ... done
  Created wheel for stop-words: filename=stop_words-2018.7.23-cp37-none-any.whl size=32913 sha256=f51a54b92ae05b9baf89d50442b4677d497b81d8d4c13eee9d13960267d861b7
  Stored in directory: /root/.cache/pip/wheels/75/37/6a/2b295e03bd07290f0da95c3adb9a74ba95fbc333aa8b0c7c78
Successfully built stop-words
Installing collected packages: stop-words
Successfully installed stop-words-2018.7.23

In [21]:
import glob
import re
from stop_words import get_stop_words
import nltk
nltk.download('wordnet')
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [10]:
spam = pd.read_csv('spam.csv')
spam.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

1. Приводим  текст к нижнему регистру

In [12]:
spam['Message'] = spam['Message'].apply(lambda x: x.lower())
spam['Str_len_1'] = spam['Message'].str.len()
spam.head()

  Category                                            Message  Str_len_1
0      ham  go until jurong point, crazy.. available only ...        111
1      ham                      ok lar... joking wif u oni...         29
2     spam  free entry in 2 a wkly comp to win fa cup fina...        155
3      ham  u dun say so early hor... u c already then say...         49
4      ham  nah i don't think he goes to usf, he lives aro...         61

2. Удаляем мусорные символы

In [13]:
spam['Message'] = spam['Message'].apply(lambda x: re.sub('[\W_]+',' ', x))
spam['Str_len_2'] = spam['Message'].str.len()
spam.head()

  Category  ... Str_len_2
0      ham  ...       103
1      ham  ...        24
2     spam  ...       154
3      ham  ...        44
4      ham  ...        60

[5 rows x 4 columns]

In [14]:
spam['Message'] = spam['Message'].apply(lambda x: x.split())
spam.head()

  Category  ... Str_len_2
0      ham  ...       103
1      ham  ...        24
2     spam  ...       154
3      ham  ...        44
4      ham  ...        60

[5 rows x 4 columns]

In [16]:
spam.describe()

         Str_len_1    Str_len_2
count  5572.000000  5572.000000
mean     80.368988    77.258256
std      59.926946    57.333533
min       2.000000     1.000000
25%      35.750000    34.000000
50%      61.000000    59.000000
75%     122.000000   117.000000
max     910.000000   908.000000

3. Удаляем стоп-слова

In [17]:
stop_slovo_eng = get_stop_words('english')

In [18]:
def ydal_stopslovo(row):
    return [word for word in row if word not in stop_slovo_eng]

In [19]:
spam['Message'] = spam['Message'].apply(ydal_stopslovo)
spam.head()

  Category  ... Str_len_2
0      ham  ...       103
1      ham  ...        24
2     spam  ...       154
3      ham  ...        44
4      ham  ...        60

[5 rows x 4 columns]

4. Приводим все слова к нормальной форме

In [22]:
wordnet_lemmatizer = WordNetLemmatizer()

In [23]:
def lemmatize_message(row):
   return ' '.join([wordnet_lemmatizer.lemmatize(word) for word in row])

In [24]:
spam['Message'] = spam['Message'].apply(lemmatize_message)
spam.head()

  Category  ... Str_len_2
0      ham  ...       103
1      ham  ...        24
2     spam  ...       154
3      ham  ...        44
4      ham  ...        60

[5 rows x 4 columns]

5. Преобразуем все сообщения в вектора TF-IDF

In [42]:
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(spam.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
#tfidf_matrix

In [27]:
chel = spam.Category

In [28]:
X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, chel, test_size=0.3, random_state=42)

In [29]:
lr = LogisticRegression(random_state=42)
lr.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
y_pred = lr.predict(X_test)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [32]:
y_test

3245     ham
944      ham
1044     ham
2484     ham
812      ham
        ...
2505     ham
2525    spam
4975     ham
650     spam
4463     ham
Name: Category, Length: 1672, dtype: object

In [33]:
y_pred_series = pd.Series(y_pred)
y_pred_series.index = y_test.index

In [34]:
result = pd.concat([y_test, y_pred_series], axis=1)
result.columns = ['category_test', 'category_predicted']
result

     category_test category_predicted
3245           ham                ham
944            ham                ham
1044           ham                ham
2484           ham                ham
812            ham                ham
...            ...                ...
2505           ham                ham
2525          spam               spam
4975           ham                ham
650           spam               spam
4463           ham                ham

[1672 rows x 2 columns]

In [35]:
accuracy_score(y_test, y_pred)

0.958732057416268

In [ ]:
Почти 96% сообщений предсказаны верно

In [36]:
confusion_matrix(y_test, y_pred)

array([[1442,    6],
       [  63,  161]])

In [37]:
y_test.value_counts()

ham     1448
spam     224
Name: Category, dtype: int64

In [38]:
y_pred_series.value_counts()

ham     1505
spam     167
dtype: int64

In [43]:
spam_n = pd.read_csv('spam.csv')
df_n = result[result['category_test']!=result['category_predicted']]
df_n = df_n.join(spam_n.drop('Category', axis=1), how='left')
df_n

     category_test  ...                                            Message
2952           ham  ...                   Hey now am free you can call me.
881           spam  ...  Reminder: You have not downloaded the content ...
3864          spam  ...  Oh my god! I've found your number again! I'm s...
2575          spam  ...  Your next amazing xxx PICSFREE1 video will be ...
3548          spam  ...  Rock yr chik. Get 100's of filthy films &XXX p...
...            ...  ...                                                ...
4543          spam  ...  FreeMsg Hi baby wow just got a new cam moby. W...
752           spam  ...  You have an important customer service announc...
309           spam  ...  TheMob> Check out our newest selection of cont...
495            ham  ...                   Are you free now?can i call now?
305           spam  ...  SMS. ac Blind Date 4U!: Rodds1 is 21/m from Ab...

[69 rows x 3 columns]

In [44]:
df_m = result[result['category_test']!=result['category_predicted']]
df_m = df_m.join(spam.drop('Category', axis=1), how='left')
df_m

     category_test category_predicted  ... Str_len_1  Str_len_2
2952           ham               spam  ...        32         32
881           spam                ham  ...       127        120
3864          spam                ham  ...       106        102
2575          spam                ham  ...       153        152
3548          spam                ham  ...       152        145
...            ...                ...  ...       ...        ...
4543          spam                ham  ...       143        139
752           spam                ham  ...        65         65
309           spam                ham  ...       138        132
495            ham               spam  ...        32         32
305           spam                ham  ...       146        136

[69 rows x 5 columns]

In [45]:
df_m[(df_m.category_test.str.contains('ham'))&(df_m.category_predicted.str.contains('spam'))]

     category_test category_predicted  ... Str_len_1  Str_len_2
2952           ham               spam  ...        32         32
1988           ham               spam  ...        32         30
75             ham               spam  ...        43         42
45             ham               spam  ...        32         30
3692           ham               spam  ...        58         56
495            ham               spam  ...        32         32

[6 rows x 5 columns]

Cообщения, которые приняли за спам содержат слова "free call", вероятно поэтому их посчитали спамом.